<html>
<head>
<title>Yahoo Fantasy Sports Data App</title>
</head>

<body>
  <ul>
    <li><a href="/user/auth">Login</a></li>
    <li><a href="/yahoo/league">Yahoo League</a></li>
    <li><a href="/user/logout">Logout</a></li>
  </ul>
</body>

</html>